.menuCustom{

    color: white;
    padding: 10px;
    border-radius: 25px;

}

.menuCustom li:hover{
    background-color: rgba(7, 7, 173, 0);
    color: white;
}

.menuCustom a:hover{
    background-color: rgba(7, 7, 173, 0);
    color: white;
}

.menuCustom a:active{
    background-color: rgba(7, 7, 173, 0.487);
    color: white;
}

.menuCustom li{
    padding: 5px;
}

.menuCustom a{
    color: white;
}



.first{
    border-radius: 25px 25px 0 0;
}

.last{
    border-radius: 0 0 25px 25px;
}